.area-formulario input[required], textarea[required] {
    border-color: white;
}

.zona_formulario {
    margin-top: 40px;
    margin-bottom: 40px;
}

.image-soporte {
    position: absolute;
    left: 280px;
}

.img-soporte {
    position: absolute;
    margin-left: 146px;
    margin-top: 20px;
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.151);
}

.area-formulario {
    position: relative;
    background: linear-gradient(145deg, #0d0d0d, #1a1a1a);
    padding: 30px;
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.151);
    margin-right: 48px;
    max-width: 480px;
    left: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    color: white;
    border-top: #00BFFF 3px solid;
}

.area-formulario input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    color: white;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(37, 35, 35);
}

.area-formulario input[type="text"]:focus, textarea:focus, input[type="file"]:focus {
    border-color: #00BFFF;
    outline: none;
}

.btn-soporte {
  background: #00BFFF;
  border: none;
  color: black;
  cursor: pointer;
  padding: 14px 0;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  transition: background-color 0.3s ease;
}

.btn-soporte:hover {
    background: #1f618d;
    transform: scale(1.05);
    color: white;
    letter-spacing: 2px;
}